.page {
    display: none;
}

.card {
    float: left;
    display: inline-block;
    width: 50%;
    height: 20%;
    min-height: 100px;
    min-width: calc(50% - 20px;);
    background-color: Tomato;
    color: white;
    font-family: sans-serif;
    padding: 20px;
    margin: 10px;
    box-shadow: 1px 1px 10px #b9b9b9;
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
}

.card:hover {
    box-shadow: 3px 3px 10px #b9b9b9;
}

.card-title {
    font-size: 30px;
}

.card p {
    color: #eccfcf;
    font-size: 15px;
}

.nav-wrapper {
    background-color: #ff6161;
    width: 100%;
    padding: 10px 0px;;
    display: table;
}

.nav-wrapper .brand-logo {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    padding-left: 15px;
}

.nav-wrapper .brand-logo:hover {
    text-decoration: none;
}

.nav-wrapper p {
  color: white;
  padding-right: 30px;
  display: table-cell;
  vertical-align: middle;
}

.nav-wrapper a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.nav-wrapper a:hover {
  text-decoration: underline;
}

#story-page {
  margin: 0% 10%;
}

#story-page h5 {
  color: #b5b5b5;
}

#story-page p {
   text-align: left;
}

#edit-page {
  margin: 0% 10%;
}

#story-text-area {
  outline: none;
  border: 1px solid lightgray;
  margin: 2% 0%;
  padding: 2%;
}

.inp-primary {
  outline: none;
  border: none;
  border-readius: none;
  border-bottom: 1.5px solid lightgray;
  -webkit-transition: border-bottom 0.5s;
  transition: border-bottom 1s;
  font-size: 15px;
  padding: 3px;
  margin: 5px;
  width: 50%;
  min-width: 300px;
  min-height: 20px;
}

.inp-primary:focus {
  border-bottom: 1.5px solid #ff6161;
}

.btn-primary {
  outline: none;
  border: none;
  background: Tomato;
  font-size: 18px;
  color: white;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 5px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn-primary:hover {
  background: #ea6565;
}

.btn-primary:active {
  background: #d87676;
}

button a {
    text-decoration: none;
}
body {
    margin: 0;
}

* {
  font-family: sans-serif;
}
