
.page {
    display: none;
}

.card {
    display: inline-block;
    width: 75%;
    height: 20%;
    min-height: 100px;
    min-width: 150px;
    background-color: Tomato;
    color: white;
    font-family: sans-serif;
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 1px 10px #b9b9b9;
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
}

.card:hover {
    box-shadow: 3px 3px 10px #b9b9b9;
}

.card-title {
    font-size: 250%;
}

.card p {
    color: #eccfcf;
    font-size: 180%;
}

.nav-wrapper {
    background-color: #ff6161;
    width: 100%;
    display: table;
}

.nav-wrapper .brand-logo {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 300%;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    padding-left: 15px;
}

.nav-wrapper .brand-logo:hover {
    text-decoration: none;
}

.nav-wrapper p {
  color: white;
  padding-right: 30px;
  display: table-cell;
  vertical-align: middle;
}

.nav-wrapper a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.nav-wrapper a:hover {
  text-decoration: underline;
}

tag {
  background: #ededed;
  border-radius: 50px;
  padding: 2px 10px;
  margin: 2px;
  color: gray;
  float: left;
}

tag button {
  outline: none;
  padding: 3px;
  border: none;
  margin-left: 5px;
  color: gray;
  border-radius: 3px;
  background-color: transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

tag button:hover {
  background-color: #e5e5e5;
}

#vertical-dot-menu div {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: gray;
  margin: 2px;
}

#vertical-dot-menu {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 10px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#vertical-dot-menu:active {
  background-color: lightgray;
}

#story-edit-menu {
  display: none;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0px;
}

#story-edit-menu li {
  list-style-type: none;
  padding: 3px 10px;
  color: gray;
}

#story-edit-menu li:hover {
  background-color: #eaeaea;
}

#story-page {
  margin: 0% 10%;
}

#story-page h5 {
  color: #b5b5b5;
}

#story-page p {
   text-align: left;
}

#edit-page {
  margin: 0% 10%;
}

#story-text-area {
  outline: none;
  border: 1px solid lightgray;
  margin: 2% 0%;
  padding: 2%;
}

.inp-primary {
  outline: none;
  border: none;
  border-readius: none;
  border-bottom: 1.5px solid lightgray;
  -webkit-transition: border-bottom 0.5s;
  transition: border-bottom 1s;
  font-size: 150%;
  padding: 3px;
  margin: 5px;
  width: 50%;
  min-width: 300px;
  min-height: 20px;
}

.inp-primary:focus {
  border-bottom: 1.5px solid #ff6161;
}

.btn-primary {
  outline: none;
  border: none;
  background: Tomato;
  font-size: 180%;
  color: white;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 5px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn-primary:hover {
  background: #ea6565;
}

.btn-primary:active {
  background: #d87676;
}

button a {
    text-decoration: none;
}

button a:hover {
    text-decoration: underline;
}
body {
    margin: 0;
}

* {
  font-family: sans-serif;
}
